#logo {
    height: 11vh;
    width: 10vw;
    gap: 50px;
}

.carousel-item {
    height: 500px;
}
  

.cards {
    margin-top: 80px;
    top: 100px;
    display: flex;
    justify-content: center;
    gap: 50px;

}

.card-img-top1 {
    border-radius: 50%;
    


}

.avaliacoes {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    top: 100px;
    gap: 50px;
    

}